{% extends 'base.html' %}
{% block title %}
<title>ログイン</title>
{% endblock %}
{% block logout_btn %}
{% endblock %}
{% block content %}
<form action='login' method="POST">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% if error %}
                    <p class="error_message">{{error}}</p>
                {% error %}
                <div class="form-group">
                    <label>ユーザID</label>
                    <input class="form-control" type="text" placeholder="hoge@hoge.com" name="user_id" value=""/>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}